<footer class="footer__meta">
  <div class="footer__wrap">
    <span>&copy; {{ date format="YYYY" }} <a href="http://tylervdh.com/" target="_blank">Tyler van der Hoeven</a></span>
    <span>
      <a href="http://rest.crab.io/">Rest Theme</a> 
      by 
      <a href="http://twitter.com/tyvdh" target="_blank">@tyvdh</a>
    </span>
    <span>Published with <a href="https://ghost.org" target="_blank">Ghost</a></span>
  </div>
</footer>