<footer class="footer__meta">
  <div class="footer__wrap">
    <span>&copy; {{date format="YYYY"}} <a href="http://tinyanvil.com/" target="_blank">Tiny Anvil</a></span>
    <span>
      <a href="http://rest.crab.io/" target="_blank">Rest Theme</a> 
      by 
      <a href="http://twitter.com/jeepsing" target="_blank">@Jeepsing</a>
    </span>
    <span>Published with <a href="https://ghost.org" target="_blank">Ghost</a></span>
  </div>
</footer>
