<nav class="pagination" role="pagination">
  <div class="index__rss">
    {{> rss this }}
  </div>
  
  {{#if prev}}
    <a class="newer-posts" href="{{pageUrl prev}}"> Newer</a>
  {{/if}}
  <span class="page-number">Page {{page}} of {{pages}}</span> 
  {{#if next}}
    <a class="older-posts" href="{{pageUrl next}}">Older </a>
  {{/if}}
</nav>