@charset "UTF-8";

@import url(//fonts.googleapis.com/css?family=Lustria|Inconsolata|Open+Sans:300,400,600);


@charset "UTF-8";

@font-face {
  font-family: "rest-theme";
  src:url("../fonts/rest-theme.eot");
  src:url("../fonts/rest-theme.eot?#iefix") format("embedded-opentype"),
    url("../fonts/rest-theme.ttf") format("truetype"),
    url("../fonts/rest-theme.svg#rest-theme") format("svg"),
    url("../fonts/rest-theme.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "rest-theme" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "rest-theme" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-rss:before {
  content: "r";
}

