@charset "UTF-8";

@import url(//fonts.googleapis.com/css?family=Lustria|Inconsolata|Open+Sans:400,300,600,700);

@font-face {
  font-family: "ghost";
  src:url("../fonts/ghost.eot");
  src:url("../fonts/ghost.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ghost.ttf") format("truetype"),
    url("../fonts/ghost.svg#ghost") format("svg"),
    url("../fonts/ghost.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "ghost" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ghost" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-github:before {
  content: "c";
}

.icon-facebook:before {
  content: "e";
}

.icon-dribble:before {
  content: "f";
}

.icon-site:before {
  content: "g";
}

.icon-link:before {
  content: "i";
}

.icon-flickr:before {
  content: "j";
}

.icon-google:before {
  content: "k";
}

.icon-tumblr-1:before {
  content: "m";
}

.icon-list:before {
  content: "n";
}

.icon-search:before {
  content: "r";
}

.icon-medium:before {
  content: "s";
}

.icon-lrg-skinny-left:before {
  content: "t";
}

.icon-skinny-left:before {
  content: "u";
}

.icon-lrg-left-arrow:before {
  content: "v";
}

.icon-twitter:before {
  content: "w";
}

.icon-tumblr:before {
  content: "x";
}

.icon-pinterest:before {
  content: "A";
}

.icon-instagram:before {
  content: "C";
}

.icon-github-round:before {
  content: "a";
}

.icon-google-sqr:before {
  content: "b";
}

