@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:400,300,700|Merriweather:400,700,400italic,700italic);

// Pee font
@mixin paragraph {
  font-family: 'Merriweather', serif;
} 

@font-face {
  font-family: "rest-theme";
  src:url("../fonts/rest-theme.eot");
  src:url("../fonts/rest-theme.eot?#iefix") format("embedded-opentype"),
    url("../fonts/rest-theme.ttf") format("truetype"),
    url("../fonts/rest-theme.svg#rest-theme") format("svg"),
    url("../fonts/rest-theme.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "rest-theme" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "rest-theme" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-rss:before {
  content: "r";
}

