// All the article guts are in here.. everything but the footer
.index__main {
  padding-bottom: 6em;
}

// The index header
.index__header {
  background: $blue no-repeat center bottom;
  background-size: cover;
  image-rendering: optimizeSpeed;
  text-align: center;
  display: table;
  width: 100%;
  
  padding: 8% 0;
  
  #index__meta {
    display: table-cell;
    vertical-align: middle;
    
    h1 {
      font-weight: 100;
      color: $pure;
      text-shadow: 0px 1px 2px rgba(0,0,0,.2);
      line-height: 1;
      margin-bottom: .2em;
    }
    h2 {
      font-weight: 600;
      font-size: .8em;
      color: rgba($pure, .5);
      text-shadow: 0px 2px 2px rgba(0,0,0,.1);
      line-height: 1;
      padding-bottom: .5em;
    }
  }
}

// The links
.index__link {
  @include max-width;
  padding: 4%;
  border-bottom: 1px solid $lightgrey;
  &:hover, &:active, &:focus {
      background-color: $pure;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1.2em;
    font-weight: 700;
  }
  p {
    margin: .5em 0 .2em;
    font-size: .75rem;
    color: rgba($grey, .7);
  }
}

// Pagination. Media changes in universal.scss
.pagination {
  @include max-width;
  position: relative;
  text-align: center;
  padding: 4%;
  border-bottom: 1px solid $lightgrey;
  
  .older-posts, .newer-posts {
    position: absolute;
    &:hover, &:active, &:focus {
      color: $blue;
    }
  }
  .older-posts {
    right: 4%;
  }
  .newer-posts {
    left: 4%;
  }
}

// Footer stuffs
.footer {
  text-align: center;
  height: 6em;
  position: absolute;
  bottom: 0;
  display: table;
  width: 100%;
  
  #footer__wrap {
    display: table-cell;
    vertical-align: middle;
  
    a, span {
      font-size: .75rem;
      color: rgba($grey, .7);
    }
    a {
      border-bottom: 1px solid $lightgrey;
      &:hover, &:active, &:focus {
        color: $blue;
      }
    }
    span {
      display: block;
    }
  }
}