// All the article guts are in here.. everything but the footer
.index__main {
  padding-bottom: 6em;
}

// The index header
.index__header {
  background: $blue no-repeat center;
  background-size: cover;
  text-align: center;
  display: table;
  width: 100%;
  padding: 8% 0;
  cursor: default;
  
  #index__meta {
    display: table-cell;
    vertical-align: middle;
    
    h1 {
      font-weight: 700;
      color: $pure;
      text-shadow: 0px 1px 2px rgba(0,0,0,.2);
      line-height: 1;
      margin-bottom: .2em;
    }
    h2 {
      font-weight: 600;
      font-size: .8em;
      color: rgba($pure, .5);
      text-shadow: 0px 2px 2px rgba(0,0,0,.1);
      line-height: 1;
      padding-bottom: .5em;
    }
  }
}

// The links
.index__link {
  @include max-width;
  padding: 4%;
  border-bottom: 1px solid $lightgrey;
  &:hover {
    background-color: $pure;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 700;
  }
  p {
    margin: .5em 0 .2em;
    font-size: .75rem;
    color: rgba($grey, .7);
  }
  .default, .medium, .long {
    @include hide;
  }
}

// Pagination. Media changes in universal.scss
.pagination {
  @include max-width;
  position: relative;
  text-align: center;
  padding: 4%;
  border-bottom: 1px solid $lightgrey;
  -webkit-font-smoothing: subpixel-antialiased;
  
  .older-posts, .newer-posts {
    position: absolute;
    &:hover {
      color: $blue;
    }
    
  }
  .older-posts {
    right: 4%;
    &:after {
      content: "\203A";
    }
  }
  .newer-posts {
    left: 4%;
    &:before {
      content: "\2039";    
    }
  }
}

// Footer stuffs
.footer__meta {
  text-align: center;
  height: 6em;
  position: absolute;
  bottom: 0;
  display: table;
  width: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  
  .footer__wrap {
    display: table-cell;
    vertical-align: middle;
  
    a, span {
      font-size: .75rem;
      color: rgba($grey, .7);
    }
    a {
      border-bottom: 1px solid $lightgrey;
      &:hover {
        color: $blue;
      }
    }
    span {
      display: block;
    }
  }
}

// Position the rss icon
.index__rss {
  position: absolute;
  margin-top: -15px;
  top: 0;
  right: 4%;
}

// The rss circle
.subscribe {
  width: 28px;
  height: 28px;
  float: left;
  border: $lightgrey 1px solid;
  border-radius: 50%;
  background: $white;
  transition: box-shadow 0.1s;
}

// The rss icon, inserted via icon font
.subscribe:before {
  font-size: 17px;
  position: absolute;
  top: 6px;
  left: 7px;
  color: rgba($grey, .5);
}

// Add a box shadow to on hover
.subscribe:hover {
  box-shadow: 0 0 0 3px $lightgrey;
}
.subscribe:hover:before {
  color: $blue;
}

// CSS tooltip message. Gotta give some into dontcha know
.tooltip {
  position: absolute;
  background: $grey;
  white-space: nowrap;
  color: $white;
  border-radius: 1.2rem;
  right: -6px;
  width: 100px;
  font-size: 1rem;    
  font-weight: 400;
  text-align: center;
  transition: all 0.1s;
  top: -2.2em;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}
.tooltip:before {
  content: "Subscribe";
}

// The little downward chiclet arrow under the tooltip. Chiclet.. ha.. cute
.tooltip:after {
  content: "";
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: $grey transparent;
  position: absolute;
  bottom: -4px;
  right: 16px;
}

// On hover, show the tooltip!
.subscribe:hover .tooltip {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}