// Big screens, for old fogies
@media only screen and (min-width: 800px) {
  p, li, code, a, .page-number {
    font-size: 1.35rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2, blockquote p {
    font-size: 2rem;
  }
  h3, h4 {
    font-size: 1.65rem;
  }
  
  // The links on the index page
  .index__link {
    
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  
  // Trying to do something with that awful black footer.. ew..
  .post__footer {
    padding-bottom: 4em;
  }
  .post__footer__inner {
    background-color: transparent;
    border-top: 1px solid $lightgrey;
    padding-top: 2.5%;
    
    h4 {
      color: $grey;
      margin-bottom: -.5em;
    }
    
    // Now I messed up the link text in the footer.. its not consistent.. I'm so bad at this
    .footer {
      
      #footer__wrap {
      
        a, span {
          color: rgba($grey, .7);
        }
        a {
          border-bottom: 1px solid $lightgrey;
          &:hover, &:active, &:focus {
            color: $blue;
          }
        }
      }
    }
  }
  
  // The protective shield of padding from the sticky footer
  .post__content {
    padding-bottom: 184px;
  }
}

// This one is for iPads and tablets 
@media only screen 
and (max-width : 799px)
and (min-width : 569px) {
  p, li, code, a, .page-number {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  blockquote p {
    font-size: 1.6rem;
  }
  h3, h4 {
    font-size: 1.4rem;
  }
  
  // The links on the index page
  .index__link {
  
    h2 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1rem;
    }
  }
  
  // Keep away you evil sticky footer!
  .post__content {
    padding-bottom: 153px;
  }
}

// For like phones and stuff
@media only screen and (max-width: 568px) {
  .page-number {
    @include hide;
  }
  .pagination {
    margin: 0px auto;
    padding: 0;
    
    a.older-posts, a.newer-posts {
      position: static;
      display: inline-block;
      margin: 0 -2px;
      width: 50%;
      padding: 4%;
      box-sizing: border-box;
      &:hover, &:active, &:focus {
        color: inherit;
      }
    }
    .older-posts {
      right: 0;
    }
    .newer-posts {
      left: 0;
    }
  }
  
  // Heaven save us from the sticky footer!!
  .post__content {
    padding-bottom: 98px;
  }
  
  // Fancy phone footer scroll
  .post__footer__inner {
    min-width: 395px;
  }
}