// Big screens, for old fogies
@media only screen and (min-width: 800px) {
  p, li, code, a, .page-number {
    font-size: 1.30rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2, blockquote p {
    font-size: 2rem;
  }
  h3, h4, .post__blog__title {
    font-size: 1.65rem;
  }
  
  // The post links on the index page
  .index__link {
    background-color: transparent !important;
    &:hover h2 {
      color: $blue;
    }
    
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.2rem;
    }
    .long {
      @include show;
    }
  }
    
  // Trying to do something with that awful black footer.. ew..
  .post__footer {
    padding-bottom: 4em;
    border-top: 1px solid $lightgrey;
  }
  
  .post__footer__inner {
    background-color: transparent;
    @include max-width;
    
    h4 {
      color: $grey;
      margin-bottom: -.5em;
    }
    
    // Now I messed up the link text in the footer.. its not consistent.. I'm so bad at this
    .footer {
      
      .footer__wrap {
      
        a, span {
          color: rgba($grey, .7);
        }
        a {
          border-bottom: 1px solid $lightgrey;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
  
  // The protective shield of padding from the sticky footer
  .post__content {
    padding-top: 1em;
    padding-bottom: 250px;
  }
  
  // Footer rss icon changes
  .post__rss {
    margin-bottom: 164px;
    margin-right: -20px;

    .subscribe {
      width: 40px;
      height: 40px;
      border: $lightgrey 1px solid;
    }
    .subscribe:before {
      font-size: 21px;
      top: 11px;
      left: 12px;
      color: rgba($grey, .5);
    }
    .subscribe:hover .tooltip {
      top: -2.2em;
    }
    .tooltip {
      right: -74px;
      width: 200px;
      font-size: 1.2rem;
    }
    .tooltip:before {
      content: "Subscribe via RSS";
    }
    .tooltip:after {
      right: 90px;
    } 
  }
}

// This one is for iPads and tablets 
@media only screen 
and (max-width : 799px)
and (min-width : 569px) {
  p, li, code, a, .page-number {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  blockquote p {
    font-size: 1.6rem;
  }
  h3, h4, .post__blog__title {
    font-size: 1.4rem;
  }
  
  // The links on the index page
  .index__link {
  
    h2 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1rem;
    }
    .medium {
      @include show;
    }
  }
  
  // Keep away you evil sticky footer!
  .post__content {
    padding-top: .25em;
    padding-bottom: 160px;
  }
  
  // Footer rss icon changes
  .post__rss {
    margin-bottom: 96px;
    margin-right: -17px;
    
    .subscribe {
      width: 35px;
      height: 35px;
    }
    .subscribe:before {
      top: 9px;
      left: 9px;
    }
    .subscribe:hover {
      box-shadow: none;
    }
    .tooltip {
      right: -40px;
      width: 120px;
      font-size: 1.2rem;
    }
    .tooltip:after {
      right: 52px;
    }
  }
}

// For like phones and stuff
@media only screen and (max-width: 568px) {
  .post__blog__title {
    font-size: 1rem;
    line-height: 1.45;
  }
  
  // Showing the shortest text
  .index__link {
  
    .default {
      @include show;
    }
  }
  
  // Pagination changes
  .page-number {
    @include hide;
  }
  .pagination {
    margin: 0px auto;
    padding: 0;
    
    a.older-posts, a.newer-posts {
      position: static;
      display: inline-block;
      margin: 0 -2px;
      width: 50%;
      padding: 4%;
      @include border-box;
      &:hover {
        color: inherit;
      }
    }
    .older-posts {
      right: 0;
    }
    .newer-posts {
      left: 0;
    }
  }
  
  // Lessen that padding on the top son.. its too much!
  .post-template {
    padding-top: 3%; 
  }
  
  // Heaven save us from the sticky footer!!
  .post__content {
    padding-bottom: 118px;
  }
  
  // Footer rss icon changes
  .post__rss {
    margin-bottom: 85px;
    margin-right: -15px;
    
    .subscribe {
      width: 30px;
      height: 30px;
    }
    .subscribe:hover {
      box-shadow: none;
    }
    .subscribe:before {
      top: 7px;
    }
  }
  .tooltip {
    display: none !important;
  }
  
  // Fancy phone footer scroll
  .post__footer {
    overflow: auto;
  }
  .post__footer__inner {
    min-width: 395px;
  }
}

// iPhone in landscape mode.. it bugged me alright
@media only screen and (max-height: 350px) {
  .index__header {
    padding: 4% 0;
  }
}