// The Ghost generated body class for the whole post page
.post-template {
  padding: 4%;
  padding-bottom: 0;
  @include max-width;
}

// The post wrapper.. but this one has everything.. including the footer
.post__main {
  
}

// The blog name wrapper
.post__header {
  border-bottom: 1px solid $lightgrey;
  &:hover, &:active, &:focus {
      color: $blue;
  }
}

// The post title.. duh
.post__title {
  background: $red no-repeat center bottom;
  background-size: cover;
  image-rendering: optimizeSpeed;
  font-weight: 100;
  line-height: 1.2em;
  margin: .5em 0;
  color: $pure;
  @include grow;
  padding: 4.5%;
  text-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

// Mhmm.. yup.. the post content
.post__content {
  
  h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: -.5rem;
  }
  img {
    @include grow;
  }
  a, em, strong, li, mark {
    font-family: 'Lustria', serif;
  }
}

// Wanna share a post? Well..to bad!! This is just to style da links.
.post__footer {
  position: absolute;
  bottom: 0;
  overflow: auto;
  @include grow;
}
  
.post__footer__inner {
  padding: 1.5rem 4.5%;
  background-color: $black;
  
  h4 {
    color: $white;
    display: inline-block;
  }
  a {
    color: $blue;
  }
  
  // Footer stuffs
  .footer {
    text-align: right;
    float: right;
    margin-top: -1.9em;
    padding: 0;
    
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    
    #footer__wrap {
      display: inherit;
      
      a, span {
        font-size: .75rem;
        color: $grey;
      }
      a {
        border-bottom: 1px solid rgba($lightgrey, .8);
        &:hover, &:active, &:focus {
          color: $blue;
        }
      }
    }
  }
}