// The Ghost generated body class for the whole post page
.post-template {
  padding: 4%;
  padding-bottom: 0;
}

// Wrapper for the blog name, post title and date
.post__meta {
  @include max-width;
}

// The blog name and post date wrapper
.post__header {
  display: inline-block;
  border-bottom: 1px solid $lightgrey;
  &:hover {
      color: $blue;
  }
}
.post__blog__title {
  font-weight: 700;
  line-height: 1.4;
  
  &:hover {
    color: $blue;
  }
}

// The post title.. duh
.post__title {
  background: $red no-repeat center center;
  background-size: cover;
  margin: .5em 0;
  padding: 4.5%;
  @include grow;
  
  h1 {
    font-weight: 100;
    line-height: 1.2;
    color: $pure;
    text-shadow: 0px 1px 2px rgba(0,0,0,.2);
    @include max-width
  }
}

// Mhmm.. yup.. the post content
.post__content {
  @include max-width;
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1.2em;
    margin-bottom: -.5rem;
  }
  img {
    @include grow;
  }
  a, em, strong, li, mark {
    @include paragraph;
  }
}

// RSS icon changes
.post__rss {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  
  .subscribe {
    border: none;
  }
  .subscribe:before {
    color: $black;
  }
  .subscribe:hover:before {
    color: $blue;
  }
  .subscribe:hover .tooltip {
    top: -1.9em;
    opacity: 1;
  }
  .tooltip {
    right: -34px;
    font-size: 1rem;
  }
  .tooltip:after {
    right: 44px;
  }
}

// Wanna share a post? Well..to bad!! This is just to style da links.
.post__footer {
  position: absolute;
  bottom: 0;
  @include grow;
}
.post__footer__inner {
  position: relative;
  padding: 1.5rem 4.5%;
  background-color: $black;
  
  h4 {
    color: $white;
    display: inline-block;
    line-height: 1;
  }
  a {
    color: $blue;
  }
  
  // Footer meta stuffs
  .footer__meta {
    text-align: right;
    float: right;
    margin-top: -1.9em;
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    -webkit-font-smoothing: subpixel-antialiased;
    
    .footer__wrap {
      
      a, span {
        font-size: .75rem;
        color: $grey;
      }
      a {
        border-bottom: 1px solid rgba($lightgrey, .8);
        &:hover {
          color: $blue;
        }
      }
    }
  }
}