* {
  text-decoration: none;
  color: $grey;
  font-family: 'Open Sans', sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: $white;
  line-height: 1.6;
  overflow-x: hidden;
  @include border-box;
  text-rendering: optimizeLegibility;
}

// The master wrapper for all content.. I use it for my sticky footer.
#master__container {
  position: relative;
  min-height: 100%;
}

// A bunch of global settings
::-moz-selection {
   color: rgba($black, .6);
    background: $yellow;
    text-shadow: none;
}
::selection {
    color: rgba($black, .6);
    background: $yellow;
    text-shadow: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  @include paragraph;
}
p a {
  color: $blue;
}
img, iframe {
  width: 100%;
}
iframe {
  margin: 1em 0;
}
ol, ul {
  padding-left: 11px;
  margin-left: 4%;
}
ol ol, ul ul,
ul ol, ol ul {
    padding-left: 2%;
}
blockquote {
  border-left: 3px solid $lightgrey;
  margin: 0;
  padding-left: 4%;
  
  p {
    font-size: 1.2rem;
    font-style: italic;
  }
}
hr {
  border: none;
  border-bottom: 1px solid $lightgrey;
}
mark {
  color: rgba($black, .6);
  background: $yellow;
}

// Code stuff
pre, code, tt {
  font-family: 'Source Code Pro', monospace, sans-serif;
}
pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}
pre {
  border: 1px solid $lightgrey;
  width: 100%;
  padding: 10px;
  white-space: pre;
  overflow: auto;
  background: rgba($grey, .05);
  border-radius: 3px;
  @include border-box;
}
code, tt {
  padding: 1px 3px;
  border: 1px solid $lightgrey;
  background: rgba($grey, .05);
  border-radius: 2px;
}